article {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: hsl(200, 100%, 99%);
  display: flex;
  flex-direction: column;
}

article > * {
  margin-top: 1rem;
}

article > *:first-child {
  margin-top: 0;
}

article > span {
  font-size: 1.1rem;
  font-weight: bold;
}

.form-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: hsl(200, 100%, 40%);
  background-color: inherit;
  outline: none;
  text-decoration: none;
}

.form-link:hover, .form-link:focus {
  color: hsl(200, 100%, 50%);
  text-decoration: underline;
}